@body: 'helvetica neue', 'helvetica', arial, sans-serif;
@marker: 'Permanent Marker', 'helvetica neue', arial, sans-serif;
@walter: 'Walter Turncoat', serif;
@ubuntu: 'ubuntu', 'helvetica neue', 'helvetica', 'arial', sans-serif;
@sintony: 'sintony', 'times', 'times new roman', serif;
@backgroundcolor: #fff;


	
@media print 
{
.page-space
	{
	height: 10px;
	}

body
	{
	background-color: #fff;
	background-image: none;
	}
	
#build, #roll-playing, #mondodevspacer, #nav-controls
	{
	display: none;
	}


}



























